:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --vt-banner-height: 0px;
  --theme-primary-color: #2e7eee;
  --theme-secondary-color: #000000;
  --theme-third-color: #ffffff;
  --border-color: #dee2e6;
  --main-width: 1200px;
  --border-line: 1px solid var(--border-color) !important;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
}